.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	&.infinite {
		animation-iteration-count: infinite;
	}
}

.animation-delay-200 {
	animation-delay: 0.2s;
}
.animation-delay-400 {
	animation-delay: 0.2s;
}
.animation-delay-600 {
	animation-delay: 0.2s;
}
.animation-delay-800 {
	animation-delay: 0.2s;
}
.animation-delay-1000 {
	animation-delay: 0.2s;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
.fadeInUp {
	animation-name: fadeInUp;
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes fadeOutUp {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
}
.fadeOutUp {
	animation-name: fadeOutUp;
}