.btn-blue-outline {
  color: $blue;
  background-color: transparent;
  border-radius: $button-border-radius;
  border: $border-width solid $blue;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}
  
.btn-blue-outline:hover,
.btn-blue-outline.is-active {
  color: white;
  background-color: $blue;
}

.btn-blue-outline:active {
  box-shadow: inset 0 3px 3px 0 rgba(#000,.25);
}

.btn-blue-outline:focus {
  color: white;
  background-color: $blue;
}

.btn-blue-outline:disabled,
.btn-blue-outline.is-disabled {
  color: $blue;
  background-color: transparent;
  opacity: .5;
}