.c3.bubble {
	font-size: 1.1rem;
  font-weight: $body-font-weight;
  letter-spacing: $body-letter-spacing;
  line-height: $line-height;
	position: absolute;
	background-color: $white;
	min-width: 14rem;
	min-height: 1.5rem;
	padding: 0;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
}

.c3.bubble--top-left:before {
	content: url('../../images/icons/bubble-tip-up.svg');
	width: 24px;
	height: 12px;
	position: absolute;
	left: 12px;
	top: -20px;
}

.c3.bubble--top-right:before {
	content: url('../../images/icons/bubble-tip-up.svg');
	width: 24px;
	height: 12px;
	position: absolute;
	right: 12px;
	top: -20px;
}

.c3.bubble--bottom-left:before {
	content: url('../../images/icons/bubble-tip-down.svg');
	width: 24px;
	height: 12px;
	position: absolute;
	left: 12px;
	bottom: -4px;
}

.c3.bubble--bottom-right:before {
	content: url('../../images/icons/bubble-tip-down.svg');
	width: 24px;
	height: 12px;
	position: absolute;
	right: 12px;
	bottom: -4px;
}

